@import "..\\style.scss" ;

.newsbg{
    background-image: url("http://localhost:5000/bg.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
    .searchcontainer{
        position: absolute;
        bottom: 50px;
        left:50%;
        transform: translateX(-50%);
        width: 70%;
        .list-group{
            position: absolute;
            width: 100%;
            opacity: 0.9;
        }
    }
}

.cardContainer{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    .card{
        width: 300px;
        .imgcover{
            width: 100%;
            height: 150px;
            background-size: cover;
            background-position:center;
        }&:hover{
            box-shadow: 0 0 10px black;
        }
}

}





.newstabs{
    padding: 30px;
    .tab-link{
        color: black;
    }
.listitem{
    padding: 10px;
    overflow: hidden;
    img{
        float: left;
        width: 120px;
    }
    &:hover{
        box-shadow: 0 0 10px black;
    }
}

}