<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/lib/css/bootstrap.css ">
    <script src="/admin/lib/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="index.css">
   
</head>

<body>
    
  <div class="main">
    <div class="topbar">
  
 </div>

 <div class="box">
    <div class="content">
        <div class="title">

        </div>

</div>
 <p class="card-text"data-id="${item.id}"style = "font-size:12px color:grey;">author: <span class="author">admin</span></p>
 <hr>

       <div class="newscontent"></div>  
      
<script src="index.js" type="module">


    </script>
    
</body>
</html>