html,body{
    height: 100%;
}


body{
    background-color: #2d3a4b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .logincontainer{
        background-color: rgba($color: #000000, $alpha: 0.7);
        height: 400px;
        width: 600px;
        padding: 50px;
    }
}